/**
* 顶部导航
*/
.sub-title{
    text-align: center;
    background-color: #ddd;
    line-height: 40px;
}
.form-inline{
    margin: 20px;
}

.btn-box{
    padding: 20px;
}
.btn-box a{
    margin-left: 20px;
}

th{
    background-color: #ddd;
}
th,td{
    text-align: center;
}
.table>tbody>tr>td{
    vertical-align: middle;
}


.t_c_r{
    color: red;
}
/**
角色管理
*/
.authority-list ul ul{
    border-left: 1px dashed #ccc;
}
.authority-list li{
    padding-top: 10px;
    list-style: none;
}
.authority-list .pull-left{
    padding-right: 16px;
}
/**
分页
*/
.pagination{
    float: right;
}
/**
产品管理
*/
.collectDate{
    margin-top: 20px;
}
.product-table .t_head th,.product-table .t_body td{
    padding: 8px 0;
}
.move-product-list{
    padding: 10px;
    height: 420px;
}
.move-product-list .left{
    float: left;
    width: 44%;
    border: 1px solid #ccc;
    height: 100%;
}
.move-product-list .center{
    float: left;
    width: 12%;
    height: 100%;
}
.move-product-list .right{
    float: left;
    width: 44%;
    border: 1px solid #ccc;
    height: 100%;
    position: relative;
}
.move-product-list .right .btn-up-down{
    padding-top: 30px;
}
.move-product-list .right .btn-up-down a{
    position: absolute;
    right: 10px;
    top: 14px;
    font-size: 18px;
}
.move-product-list .btn-up-down{
    font-size: 25px;
    text-align: center;
}
.move-product-list .btn-up-down span{
    padding: 0 20px;
    cursor: pointer;
}
.move-product-list .center{
    position: relative;
}
.move-product-list .center span{
    font-size: 25px;
    cursor: pointer;
    text-align: center;
    width: 100%;
    position: absolute;
    top:50%
}
.move-product-list ul{
    max-height: 360px;
    overflow-y: scroll;
}
.move-product-list li{
    list-style: none;
    font-size: 16px;
    line-height: 25px;
}
.product-detail{
    font-size: 16px;
    padding: 10px 5px;
}
.product-detail .top-form{
    padding-bottom: 10px;
    border-bottom: 1px dashed #888;
}
.product-detail .form-group{
    padding-bottom: 8px;
}
.product-detail .detail-list{
    padding-top: 5px;
}
.product-detail .detail-list ul{
    padding: 0;
    margin: 0;
}
.product-detail .detail-list li{
    float: left;
    list-style: none;
}
.product-detail .detail-list .left{
    width: 26%;
}
.product-detail .detail-list .center{
    width: 36%;
}
.product-detail .detail-list .right{
    position: relative;
    width: 38%;
    height: 102px;
}
.product-detail .detail-list .right .form-control{
    width: 25%;
}
.product-detail .detail-list .right .btsyl{
    position: absolute;
    top: -5px;
    right: 0;
    padding-left: 90px;
}
.product-detail .detail-list .right .btsyl label{
    width: 40px;
}
.product-desc label{
    width: 140px;
    text-align: right;
}
.product-desc .product-desc-div{
    padding-left: 140px;
}
.product-desc-div ul{
    margin: 0;
    padding: 0 0 10px 0;
}
.product-desc-div li{
    list-style: none;
    float: left;
    width: 33%;
}
.product-desc-div img{
    width: 50px;
    height: 50px;
}
.product-desc .product-desc-div textarea{
    width: 556px;
}
.product-desc .file-input{
    height: 24px;
    margin: 0;
    display: inline-block;
    width: 70px;
}
.delete-btn{
    color: #f00;
    padding-left: 5px;
    cursor: pointer;
}

/**
禁止选中
*/
.no-select{
    moz-user-select: -moz-none;
    -moz-user-select: none;
    -o-user-select:none;
    -khtml-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

