/**
* 顶部导航
*/
.sub-title{
    text-align: center;
    background-color: #ddd;
    line-height: 40px;
}
.form-inline{
    margin: 20px;
}

.btn-box{
    padding: 20px;
}
.btn-box a{
    margin-left: 20px;
}

th{
    background-color: #ddd;
}
th,td{
    text-align: center;
}

.t_c_r{
    color: red;
}
.authority-list ul ul{
    border-left: 1px dashed #ccc;
}
.authority-list li{
    padding-top: 10px;
    list-style: none;
}
.authority-list .pull-left{
    padding-right: 16px;
}

.pagination{
    float: right;
}
