<div class="container-fluid" data-ng-controller="smsCtr">
    <h4 class="sub-title">{{modileTitle}}</h4>
    <form class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-sm-2">短信类型：</label>
            <div class="col-sm-2">
                <select class="form-control" data-ng-model="searchSms.smsCode" data-ng-options="s.value as s.text for s in smsTypeList">
                    <option value="">请选择</option>
                </select>
            </div>
        </div>
    </form>
    <div class="btn-box clearfix">
        <a class="btn btn-default pull-right" href="javascript:" data-ng-click="search()" role="button">查 询</a>
        <a class="btn btn-default pull-right" href="javascript:" ng-click="modal('add')" role="button">新 增</a>
    </div>

    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>短信类型</th>
            <th>发放方式</th>
            <th>操作时间</th>
            <th>操作者</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="sms in smsList">
            <td>{{sms.smsCode=='0'?'理财成功划扣':sms.smsCode==='1'?'理财期满':'短信验证'}}</td>
            <td>{{sms.sendType=='0'?'实时':'定时'}}</td>
            <td>{{sms.operateTime|date:'yyyy-MM-dd HH:mm:ss'}}</td>
            <td>{{sms.operator}}</td>
            <td>
                <a class="btn btn-default" href="javascript:" ng-click="modal('select',sms.smsTemplateId)" role="button">查 看</a>
                <a class="btn btn-default" href="javascript:" ng-click="modal('update',sms.smsTemplateId)" role="button">编 辑</a>
                <a class="btn btn-default" href="javascript:" ng-click="deleteSms(sms.smsTemplateId,$index)" role="button">删 除</a>
            </td>
        </tr>
        </tbody>
    </table>
    <!--分页-->
    <div class="clearfix">
        <div data-pagination data-total-items="page.totalItems" data-ng-model="page.curPage" data-max-size="page.maxSize" data-items-per-page="page.itemsPerPage" data-boundary-links="page.boundaryLinks" data-ng-change="changePage()"
             data-previous-text="{{page.previousText}}" data-next-text="{{page.nextText}}" data-first-text="{{page.firstText}}" data-last-text="{{page.lastText}}"></div>
    </div>

    <script type="text/ng-template" id="smsDetail.html">
        <div class="modal-body">
            <form class="form-horizontal smsDetail">
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span class="t_c_r">*</span> 变量名：</label>
                    <div class="col-sm-10">
                        <ul class="sms_tag_box clearfix" data-ng-repeat="tag in tags">
                            <li class="sms_tag" data-ng-click="appendContent(t)" data-ng-repeat="t in tag">{{t}}</li>
                        </ul>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label"><span class="t_c_r">*</span> 短信类型：</label>
                    <div class="col-sm-4">
                        <select data-ng-disabled="disabled" class="form-control" data-ng-model="curSms.smsCode" data-ng-options="s.value as s.text for s in smsTypeList">
                            <option value="">请选择</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label"><span class="t_c_r">*</span> 发送方式：</label>
                    <div class="col-sm-2">
                        <label class="radio-inline">
                            <input type="radio" data-ng-disabled="disabled" data-ng-model="curSms.sendType" value="0" data-ng-disabled="disabled" id="linkType2" name="sendType"> 实时
                        </label>
                        <label class="radio-inline">
                            <input type="radio" data-ng-disabled="disabled" data-ng-model="curSms.sendType" value="1" data-ng-disabled="disabled" name="sendType"> 定时
                        </label>
                    </div>
                    <div class="col-sm-2" data-ng-if="curSms.sendType == 1">
                        <select class="form-control" data-ng-disabled="disabled" data-ng-model="curSms.sendTime">
                            <option value="00:00">00:00</option>
                            <option value="01:00">01:00</option>
                            <option value="02:00">02:00</option>
                            <option value="03:00">03:00</option>
                            <option value="04:00">04:00</option>
                            <option value="05:00">05:00</option>
                            <option value="06:00">06:00</option>
                            <option value="07:00">07:00</option>
                            <option value="08:00">08:00</option>
                            <option value="09:00">09:00</option>
                            <option value="10:00">10:00</option>
                            <option value="11:00">11:00</option>
                            <option value="12:00">12:00</option>
                            <option value="13:00">13:00</option>
                            <option value="14:00">14:00</option>
                            <option value="15:00">15:00</option>
                            <option value="16:00">16:00</option>
                            <option value="17:00">17:00</option>
                            <option value="18:00">18:00</option>
                            <option value="19:00">19:00</option>
                            <option value="20:00">20:00</option>
                            <option value="21:00">21:00</option>
                            <option value="22:00">22:00</option>
                            <option value="23:00">23:00</option>
							<option value="23:59">23:59</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span class="t_c_r">*</span> 短信内容：</label>
                    <div class="col-sm-9">
                        <textarea class="form-control" data-ng-disabled="disabled" data-ng-model="curSms.smsContent" rows="3"></textarea>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <a data-ng-if="!disabled" class="btn btn-primary" ng-click="ok()">保 存</a>
            <a data-ng-if="!disabled" class="btn btn-warning" ng-click="cancel()">返 回</a>
            <a data-ng-if="disabled" class="btn btn-default" ng-click="cancel()">关 闭</a>
        </div>
    </script>
</div>