<div class="container-fluid" data-ng-controller="protocolCtr">
    <h4 class="sub-title">{{modileTitle}}</h4>
    <form class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-sm-3"><span class="t_c_r">*</span> 委托划扣授权书：</label>
            <div class="col-sm-3">
                <input type="text" data-ng-model="product.descriptionUrl" class="form-control"/>
            </div>
            <div class="col-sm-2">
                <span input-file title="委托划扣授权书" model="product.descriptionUrl"></span>
            </div>
            <div class="col-sm-2">
                <a class="btn btn-default" href="javascript:" role="button">下 载</a>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3"><span class="t_c_r">*</span> 体验金规则：</label>
            <div class="col-sm-3">
                <input type="text" class="form-control"/>
            </div>
            <div class="col-sm-2">
                <span input-file title="体验金规则" model="product.descriptionUrl"></span>
            </div>
            <div class="col-sm-2">
                <a class="btn btn-default" href="javascript:" role="button">下 载</a>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3"><span class="t_c_r">*</span> 卡券使用规则：</label>
            <div class="col-sm-3">
                <input type="text" class="form-control"/>
            </div>
            <div class="col-sm-2">
                <span input-file title="卡券使用规则" model="product.descriptionUrl"></span>
            </div>
            <div class="col-sm-2">
                <a class="btn btn-default" href="javascript:" role="button">下 载</a>
            </div>
        </div>

        <div class="form-group" data-ng-repeat="rule in rules">
            <label class="control-label col-sm-3">&nbsp;<span data-ng-if="$first"><span class="t_c_r">*</span> 卡出借咨询与服务协议：</span></label>
            <div class="col-sm-3">
                <input type="text" data-ng-model="rule.url" class="form-control"/>
            </div>
            <div class="col-sm-2">
                <span input-file title="出借咨询与服务协议" model="product.descriptionUrl"></span>
            </div>
            <div class="col-sm-1">
                <a class="btn btn-default" href="javascript:" role="button">下 载</a>
            </div>
            <div class="col-sm-1" style="line-height: 34px;color: #f00">
                <span data-ng-if="!$first" style="cursor: pointer" data-ng-click="removeRule($index)"  class="glyphicon glyphicon-minus"></span>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <span data-ng-if="$last" style="cursor: pointer" data-ng-click="addRule()" class="glyphicon glyphicon-plus"></span>
            </div>
        </div>
    </form>
    <div class="btn-box clearfix col-sm-10">
        <a class="btn btn-primary pull-right" href="javascript:" role="button">保 存</a>
    </div>
</div>