<div class="container-fluid" data-ng-controller="bankCtr">
    <h4 class="sub-title">{{modileTitle}}</h4>
    <form class="form-horizontal">
        <div class="form-group">
            <label for="bankName" class="control-label col-sm-2">银行名称：</label>
            <div class="col-sm-2">
                <select class="form-control" id="bankName">
                    <option>全部</option>
                    <option value="1">中国工商银行</option>
                    <option value="2">邮政银行</option>
                </select>
            </div>

            <label for="adType" class="control-label col-sm-2">支付方式：</label>
            <div class="col-sm-2">
                <select class="form-control" id="adType">
                    <option>全部</option>
                    <option value="0">快捷支付</option>
                    <option value="1">代付</option>
                    <option value="2">网银</option>
                </select>
            </div>
        </div>
    </form>
    <div class="btn-box clearfix">
        <a class="btn btn-default pull-right" href="javascript:" ng-click="bankDetail()" role="button">新 增</a>
        <a class="btn btn-default pull-right" href="javascript:" role="button">查 询</a>
    </div>

    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th style="line-height: 34px">银行名称</th>
            <th style="line-height: 34px;width: 12%;">客服热线</th>
            <th style="width: 60%">
                <table class="table" style="margin: 0;background-color:transparent;">
                    <tr>
                        <td style="width: 12%">支付方式</td>
                        <td style="width: 22%">单笔限额（万元）</td>
                        <td style="width: 22%">每日限额（万元）</td>
                        <td>备注</td>
                    </tr>
                </table>
            </th>
            <th style="line-height: 34px">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="bank in bankList">
            <td>{{bank.bankName}}</td>
            <td>{{bank.hotLine}}</td>
            <td style="padding: 0">
                <table class="table table-bordered" style="margin: 0;background-color:transparent;">
                    <tr data-ng-repeat="pay in bank.payWays">
                        <td style="width: 12%">{{pay.payWay == '0'?'快捷支付':pay.payWay == '1'?'代付':'网银'}}</td>
                        <td style="width: 22%">{{pay.dealsLimitDescribe}}</td>
                        <td style="width: 22%">{{pay.limitDescribe}}</td>
                        <td>{{pay.descn}}</td>
                    </tr>
                </table>
            </td>
            <td>
                <a class="btn btn-default" href="javascript:" ng-click="bankDetail()" role="button">编 辑</a>
                <a class="btn btn-default" href="javascript:" role="button">删 除</a>
            </td>
        </tr>
        </tbody>
    </table>

    <!--分页-->
    <div class="clearfix">
        <div data-pagination data-total-items="page.totalItems" data-ng-model="page.curPage" data-max-size="page.maxSize" data-items-per-page="page.itemsPerPage" data-boundary-links="page.boundaryLinks" data-ng-change="changePage()"
             data-previous-text="{{page.previousText}}" data-next-text="{{page.nextText}}" data-first-text="{{page.firstText}}" data-last-text="{{page.lastText}}"></div>
    </div>
    <!--弹出层-->
    <script type="text/ng-template" id="addBank.html">
        <div class="modal-body">
            <form class="form-horizontal bankDetail">
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span class="t_c_r">*</span> 银行名称：</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control"/>
                    </div>
                    <div class="col-sm-5 clearfix">
                        <a class="btn btn-default pull-right" data-ng-click="addBpay()">新 增</a>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label"><span class="t_c_r">*</span> 客服热线：</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control"/>
                    </div>
                </div>

                <div class="bankBox" data-ng-repeat="bpay in bpays">
                    <div class="form-group">
                        <label class="col-sm-2 control-label"><span class="t_c_r">*</span> 支付方式：</label>
                        <div class="col-sm-2">
                            <select class="form-control" id="payType">
                                <option>全部</option>
                                <option>快捷支付</option>
                                <option>代付</option>
                                <option>网银</option>
                            </select>
                        </div>
                        <label class="col-sm-2 control-label"><span class="t_c_r">*</span> 单笔限额：</label>
                        <div class="col-sm-2">
                            <input type="text" style="width: 80px" class="my-form-control"/> 万元
                        </div>

                        <label class="col-sm-2 control-label" style="margin-left: -20px"><span class="t_c_r">*</span> 每日限额：</label>
                        <div class="col-sm-2">
                            <input type="text" style="width: 60px" class="my-form-control"/>
                            <span style="padding-right: 6px">万元</span>
                            <span class="delete-btn glyphicon glyphicon-remove" data-ng-click="removeBpay($index)"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label"><span class="t_c_r">*</span> 备注：</label>
                        <div class="col-sm-4">
                            <textarea rows="3" class="form-control"></textarea>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <a class="btn btn-primary" ng-click="ok()">保 存</a>
                    <a class="btn btn-warning" ng-click="cancel()">返 回</a>
                </div>
            </form>
        </div>
    </script>

</div>