*{
    padding: 0;
    margin: 0;
}

.clear-fix:after{
    display: block;
    height: 0;
    content: "";
    clear: both;
}
.clear-fix{
    *zoom:1;
}
.pull-left{
    float: left;
}
.send-msg-form{
    background-color: #000;
    padding: 5px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}
.send-msg-form .msg-input{
    box-sizing: border-box;
    width: 90%;
    padding: 5px 10px;
}
.send-msg-form .submit-button{
    box-sizing: border-box;
    width: 10%;
    padding: 5px;
}

.chat-list li:nth-child(odd){
    text-align: left;
}
.chat-list li:nth-child(even){
    text-align: right;
}