<div class="container-fluid" ng-controller="czyglCtr">
    <h4 class="sub-title">{{modileTitle}}</h4>
    <!--表单-->
    <form class="form-inline">
        <div class="form-group col-sm-3">
            <label for="realName">真实姓名</label>
            <input type="text" class="form-control" id="realName" placeholder="请输入真实姓名">
        </div>
        <div class="form-group col-sm-3">
            <label for="email">邮箱</label>
            <input type="email" class="form-control" id="email" placeholder="请输入邮箱地址">
        </div>
        <div class="form-group col-sm-3">
            <label for="role">角色</label>
            <select class="form-control" id="role">
                <option>全部</option>
                <option>管理员</option>
                <option>运营</option>
                <option>产品</option>
            </select>
        </div>
    </form>

    <div class="btn-box col-sm-11 clearfix">
        <a class="btn btn-default pull-right" href="javascript:" ng-click="openNew('add')" role="button">新 增</a>
        <a class="btn btn-default pull-right" href="javascript:" role="button">查 询</a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>真实姓名</th>
                <th>邮箱</th>
                <th>角色</th>
                <th>手机号</th>
                <th>操作时间</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="data in datas">
                <td>{{data.realName}}</td>
                <td>{{data.email}}</td>
                <td>{{data.role}}</td>
                <td>{{data.phoneNumber}}</td>
                <td>{{data.updatTime}}</td>
                <td>
                    <a class="btn btn-default" href="javascript:" ng-click="openNew('select')" role="button">查 看</a>
                    <a class="btn btn-default" href="javascript:" ng-click="openNew('edit')" role="button">编 辑</a>
                    <a class="btn btn-default" href="javascript:" role="button">删 除</a>
                </td>
            </tr>
        </tbody>
    </table>

    <!--弹层-->
    <div>
        <script type="text/ng-template" id="myModalContent.html">
            <div class="modal-header">
                <h3 class="modal-title">{{title}}</h3>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="realNameModal" class="col-sm-2 control-label"><span class="t_c_r">*</span>真实姓名</label>
                        <div class="col-sm-6">
                            <input type="text" ng-disabled="isCheck" ng-model="user.realName" class="form-control" id="realNameModal" placeholder="请输入真实姓名">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="emailModal" class="col-sm-2 control-label"><span class="t_c_r">*</span>邮箱</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input type="email" ng-disabled="isCheck" ng-model="user.email" class="form-control" id="emailModal" placeholder="请输入邮箱">
                                <div class="input-group-addon">@quarkfinance.com</div>
                            </div>
                            <div><span class="t_c_r">*</span>此邮箱为登录账号</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="roleModal" class="col-sm-2 control-label"><span class="t_c_r">*</span>角色</label>
                        <div class="col-sm-6">
                            <select class="form-control" ng-disabled="isCheck" ng-model="user.role" id="roleModal">
                                <option>全部</option>
                                <option>管理员</option>
                                <option>运营</option>
                                <option>产品</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="passwordModal" class="col-sm-2 control-label"><span class="t_c_r">*</span>密码</label>
                        <div class="col-sm-6">
                            <input type="password" ng-disabled="isCheck" ng-model="user.password" class="form-control" id="passwordModal" placeholder="请输入密码">
                            <div><span class="t_c_r">*</span>请输入6-14位密码、包含字母数字</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="repasswordModal" class="col-sm-2 control-label"><span class="t_c_r">*</span>确认密码</label>
                        <div class="col-sm-6">
                            <input type="password" ng-disabled="isCheck" ng-model="user.repassword" class="form-control" id="repasswordModal" placeholder="请再次输入密码">
                            <div><span class="t_c_r">*</span>请输入6-14位密码、包含字母数字</div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <div ng-if="!isCheck">
                    <a class="btn btn-primary" ng-click="ok()">保 存</a>
                    <a class="btn btn-warning" ng-click="cancel()">返 回</a>
                </div>
                <div ng-if="isCheck">
                    <a class="btn btn-warning" ng-click="cancel()">关 闭</a>
                </div>
            </div>
        </script>
    </div>
</div>
