<div class="container-fluid" ng-controller="jsglCtr">
    <h4 class="sub-title">{{modileTitle}}</h4>
    <!--表单-->
    <form class="form-inline">
        <div class="form-group col-sm-12">
            <label for="roleName">角色名称</label>
            <input type="text" class="form-control" id="roleName" placeholder="请输入角色名称">
        </div>
    </form>

    <div class="btn-box clearfix">
        <a class="btn btn-default pull-right" href="javascript:" ng-click="openNew('add')" role="button">新 增</a>
        <a class="btn btn-default pull-right" href="javascript:" role="button">查 询</a>
    </div>

    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>角色名称</th>
            <th>角色描述</th>
            <th>操作时间</th>
            <th>操作者</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="data in datas">
            <td>{{data.roleName}}</td>
            <td>{{data.roleDesc}}</td>
            <td>{{data.createTime | date : 'yyyy-MM-dd hh:mm'}}</td>
            <td>{{data.createUserName}}</td>
            <td>
                <a class="btn btn-default" href="javascript:" ng-click="openNew('select',data.id)" role="button">查 看</a>
                <a class="btn btn-default" href="javascript:" ng-click="openNew('edit',data.id)" role="button">编 辑</a>
                <a class="btn btn-default" href="javascript:" role="button">删 除</a>
            </td>
        </tr>
        </tbody>
    </table>

    <!--分页-->
    <div class="clearfix">
        <div data-pagination data-total-items="page.totalItems" data-ng-model="page.curPage" data-max-size="page.maxSize" data-items-per-page="page.itemsPerPage" data-boundary-links="page.boundaryLinks" data-ng-change="changePage()"
                    data-previous-text="{{page.previousText}}" data-next-text="{{page.nextText}}" data-first-text="{{page.firstText}}" data-last-text="{{page.lastText}}"></div>
    </div>


    <!--弹出层-->
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">{{title}}</h3>
        </div>
        <div class="modal-body">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="roleNameModal" class="col-sm-2 control-label"><span class="t_c_r">*</span>角色名称:</label>
                    <div class="col-sm-8">
                        <input type="text" ng-disabled="isCheck" ng-model="role.roleName" class="form-control" id="roleNameModal" placeholder="请输入角色名称">
                    </div>
                </div>
                <div class="form-group">
                    <label for="roleDescModal" class="col-sm-2 control-label"><span class="t_c_r">*</span>角色描述:</label>
                    <div class="col-sm-8">
                        <textarea class="form-control" data-ng-disabled="isCheck" data-ng-model="role.roleDesc" id="roleDescModal" placeholder="请输入角色描述" rows="3"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span class="t_c_r">*</span>权限分配:</label>
                </div>
                <div class="authority-list">
                    <div class="tree">
                        <ul>
                            <li ng-repeat="country in role.authoritys" ng-class="{closed:tree.isFolded(country)}">
                                <div>
                                    <input data-ng-disabled="isCheck" type="checkbox" ng-model="country.checked" ng-change="tree.check(country, country.checked)"
                                           ng-class="{intermediate: tree.isSemiChecked(country)}"/>
                                      <span ng-click="tree.toggleFold(country)">
                                        <span class="glyphicon" ng-class="tree.isFolded(country)?'glyphicon-plus':'glyphicon-minus'"></span>
                                        {{country.label}}
                                      </span>
                                </div>
                                <ul ng-class="{hidden: tree.isFolded(country)}">
                                    <li ng-repeat="province in country.items" ng-class="{closed:tree.isFolded(province)}">
                                        <input data-ng-disabled="isCheck" type="checkbox" ng-model="province.checked" ng-change="tree.check(province, province.checked)"
                                               ng-class="{intermediate: tree.isSemiChecked(province)}"/>
                                        <span ng-click="tree.toggleFold(province)">
                                          <span class="glyphicon" ng-class="tree.isFolded(province)?'glyphicon-plus':'glyphicon-minus'"></span>
                                          {{province.label}}
                                        </span>
                                        <ul class="clearfix" ng-class="{hidden: tree.isFolded(province)}">
                                            <li class="pull-left" ng-repeat="city in province.items">
                                                <label>
                                                    <input data-ng-disabled="isCheck" type="checkbox" ng-model="city.checked" ng-change="tree.check(city, city.checked)"/>
                                                    {{city.label}}
                                                </label>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <a ng-if="!isCheck" class="btn btn-primary" ng-click="ok()">保 存</a>
            <a ng-if="!isCheck" class="btn btn-warning" ng-click="cancel()">返 回</a>
            <a ng-if="isCheck" class="btn btn-default" ng-click="cancel()">关 闭</a>
        </div>
    </script>
</div>