<div class="container-fluid" data-ng-controller="cpglCtr">
    <h4 class="sub-title">{{modileTitle}}</h4>
    <form class="form-inline" name="searchProductForm">
        <div class="form-group col-sm-4">
            <label for="productName">产品名称</label>
            <input name="productName" data-ng-model="searchProduct.productName" type="text" class="form-control" id="productName" placeholder="请输入产品名称">
        </div>
        <div class="form-group col-sm-4">
            <label for="productPeriods">产品期数</label>
            <input type="text" data-ng-model="searchProduct.periodCore" class="form-control" id="productPeriods" placeholder="请输入产品期数">
        </div>
        <div class="form-group col-sm-4">
            <label for="productStatus">产品状态</label>
            <select data-ng-model="searchProduct.raiseState" class="form-control" id="productStatus">
                <option>全部</option>
                <option value="0">募集中</option>
                <option value="1">初始化</option>
                <option value="2">募集完成</option>
                <option value="3">已上架</option>
                <option value="4">已下架</option>
            </select>
        </div>
        <div class="form-group col-sm-12 collectDate">
            <label for="collectDate">募集日期</label>
            <div class="input-group" id="collectDate">
                <input type="text" data-ng-model="searchProduct.raiseStartingTime" class="form-control" data-datepicker-popup="{{format}}" data-is-open="bopened" data-close-text="关闭" data-current-text="今天" data-clear-text="清除"/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="bopen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </div>
            --
            <div class="input-group">
                <input type="text" data-ng-model="searchProduct.raiseEndingTime" class="form-control" data-datepicker-popup="{{format}}" data-is-open="eopened" data-close-text="关闭" data-current-text="今天" data-clear-text="清除"/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" data-ng-click="eopen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </div>
        </div>
    </form>

    <div class="btn-box col-sm-11 clearfix">
        <a class="btn btn-default pull-right" ng-click="openNew()" href="javascript:" role="button">排 序</a>
        <a class="btn btn-default pull-right" data-ng-click="search()" href="javascript:" role="button">查 询</a>
    </div>

    <table class="table product-table table-striped table-bordered">
        <thead class="t_head">
            <tr>
                <th width="9%">产品名称</th>
                <th width="5%">期数</th>
                <th width="7%">产品类型</th>
                <th width="7%">是否精品</th>
                <th width="9%">募集总额（元）</th>
                <th width="9%">起投金额（元）</th>
                <th width="6%">预期年化收益率</th>
                <th width="7%">产品状态</th>
                <th width="7%">已售百分比</th>
                <th width="6%">发布渠道</th>
                <th width="8%">募集开始时间</th>
                <th width="8%">募集完成时间</th>
                <th width="12%">操作</th>

            </tr>
        </thead>
        <tbody class="t_body">
            <tr data-ng-repeat="data in datas">
                <td data-ng-class="{'t_c_r':data.recommendType === 1}">{{data.productName }}</td>
                <td>{{data.periodCore}}</td>
                <td>{{data.productType}}</td>
                <td>{{data.recommendType==1?'精品':'---' }}</td>
                <td>{{data.realeaseLimitAmt}}</td>
                <td>{{data.lowestAmt }}</td>
                <td>{{data.preProfitRate}} %</td>
                <td>{{data.raiseState==0?'募集中':(data.raiseState==1?'初始化':(data.raiseState==2?'募集完':(data.raiseState==3?'已上架':'已下架')))}}</td>
                <td>{{((data.completedAmt/data.realeaseLimitAmt)*100 | number : 2) ||0}} %</td>
                <td>{{data.channelName}}</td>
                <td>{{data.raiseStartingTime}}</td>
                <td>{{data.raiseEndingTime}}</td>
                <td>
                    <a class="btn btn-default" href="javascript:" data-ng-click="openDetail('select',data.pid)" role="button">查 看</a>
                    <a class="btn btn-default" href="javascript:" data-ng-click="openDetail('edit',data.pid)" role="button">编 辑</a>
                </td>
            </tr>
        </tbody>
    </table>

    <!--分页-->
    <div class="clearfix">
        <div data-pagination data-total-items="page.totalItems" data-ng-model="page.curPage" data-max-size="page.maxSize" data-items-per-page="page.itemsPerPage" data-boundary-links="page.boundaryLinks" data-ng-change="changePage()"
             data-previous-text="{{page.previousText}}" data-next-text="{{page.nextText}}" data-first-text="{{page.firstText}}" data-last-text="{{page.lastText}}"></div>
    </div>

    <!--弹出层-->
    <script type="text/ng-template" id="myModalContent.html">

        <div class="modal-body">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="publishChannelModal" class="col-sm-2 control-label">发布渠道:</label>
                    <div class="col-sm-3">
                        <select data-ng-model="filterName" data-ng-change="filterApps()" data-ng-options="o.value as o.name for o in optionsData" class="form-control" id="publishChannelModal">

                        </select>
                    </div>
                </div>
            </form>
            <div class="move-product-list">
                <div class="left">
                    <div class="btn-up-down no-select">
                        <span class="glyphicon glyphicon-arrow-up" data-ng-click="moveOrder('left','up')"></span>
                        <span class="glyphicon glyphicon-arrow-down" data-ng-click="moveOrder('left','down')"></span>
                    </div>
                    <ul>
                        <li ng-repeat="p in productsOrder.allProducts">
                            <input type="radio" data-pre="{{productsOrder.allProducts[$index-1].pid}}" data-next="{{productsOrder.allProducts[$index+1].pid}}" data-ng-click="setCurr($event,p,'left')" id="p_{{p.pid}}" name="allProduct"/>&nbsp; <label for="p_{{p.pid}}">{{p.productName}}&nbsp;&nbsp;&nbsp;{{p.raiseState===0?'募集中':p.raiseState===1?'初始化':p.raiseState===2?'募集完':p.raiseState===3?'已上架':'已下架'}}</label>
                        </li>
                    </ul>
                </div>
                <div class="center">
                    <span class="glyphicon glyphicon-arrow-right" data-ng-click="moveOrder('center')"></span>
                </div>
                <div class="right">
                    <div class="btn-up-down no-select clearfix">
                        <a href="javascript:" data-ng-click="deleteGood()">删除</a>
                        精品
                    </div>
                    <ul>
                        <li ng-repeat="gp in productsOrder.goodProducts">
                            <input type="radio" data-pre="{{productsOrder.goodProduct[$index-1].pid}}" data-next="{{productsOrder.goodProduct[$index+1].pid}}" id="g_p_{{gp.pid}}" data-ng-click="setCurr($event,gp,'right')" name="goodProduct"/>&nbsp;<label for="g_p_{{gp.pid}}">{{gp.productName}}&nbsp;&nbsp;&nbsp;{{p.raiseState===0?'募集中':p.raiseState===1?'初始化':p.raiseState===2?'募集完':p.raiseState===3?'已上架':'已下架'}}</label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a ng-if="!isCheck" class="btn btn-primary" ng-click="ok()">保 存</a>
            <a ng-if="!isCheck" class="btn btn-warning" ng-click="cancel()">返 回</a>
            <a ng-if="isCheck" class="btn btn-default" ng-click="cancel()">关 闭</a>
        </div>
    </script>
</div>

