<div class="product-detail">
    <tabset>
        <tab heading="基本信息">
            <div class="modal-body">
                <form class="form-horizontal w5c-form"  w5c-form-validate novalidate name="productBaseForm"  style="border-bottom: 1px dashed #ccc;padding-bottom:10px">
                    <div class="form-group">
                        <label class="control-label col-sm-2">产品名称：</label>
                        <div class="col-sm-10">
                            <span class="form-control-span">{{product.productName}}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">产品类型：</label>
                        <div class="col-sm-10">
                            <span class="form-control-span"> {{product.productType}}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">产品期数：</label>
                        <div class="col-sm-2 m-r-80">
                            <span class="form-control-span"> {{product.periodCore}}</span>
                        </div>
                        <div class="clearfix">
                            <label class="control-label col-sm-2">发行天数：</label>
                            <div class="col-sm-2">
                                <span class="form-control-span"> {{product.period}}</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div>
                            <label class="control-label col-sm-2">募集总额：</label>
                            <div class="col-sm-2 m-r-80">
                                <span class="form-control-span"> {{product.realeaseLimitAmt}}元</span>
                            </div>
                        </div>
                        <div>
                            <label class="control-label col-sm-2">起投金额：</label>
                            <div class="col-sm-2">
                                <input type="text" ng-pattern="/^[0-9]*$/" required  name="lowestAmt" data-ng-model="product.lowestAmt" data-ng-disabled="disabled" style="width: 120px" class="my-form-control" placeholder="请输入起投金额"> 元
                            </div>
                        </div>
                        <div>
                            <label class="control-label col-sm-2">递增金额：</label>
                            <div class="col-sm-2">
                                <input type="text" ng-pattern="/^[0-9]*$/" required name="accumulateAmt" data-ng-model="product.accumulateAmt" data-ng-disabled="disabled" style="width: 120px" class="my-form-control" placeholder="请输入递增金额"> 元
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="display_parameter1_form" class="control-label col-sm-2">首页展示参数：</label>
                        <div class="col-sm-2">
                            <input type="text" data-ng-model="product.displayParameter1" data-ng-disabled="disabled" class="form-control" id="display_parameter1_form" placeholder="请输入展示参数1">
                        </div>
                        <div class="col-sm-2">
                            <input type="text" data-ng-model="product.displayParameter2" data-ng-disabled="disabled" class="form-control" id="display_parameter2_form" placeholder="请输入展示参数2">
                        </div>
                        <div class="col-sm-2">
                            <input type="text" data-ng-model="product.displayParameter3" data-ng-disabled="disabled" class="form-control" id="display_parameter3_form" placeholder="请输入展示参数3">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">预期年化收益率：</label>
                        <div class="col-sm-2 m-r-80">
                            <span class="form-control-span">{{product.preProfitRate}}</span>
                        </div>
                        <label class="control-label col-sm-2">发布渠道：</label>
                        <div class="col-sm-2">
                            <span class="form-control-span">
                                <input data-ng-model="product.channel[0].channelCode" data-ng-true-value="'app'" data-ng-disabled="disabled" type="checkbox"/>APP &nbsp;
                                <input data-ng-model="product.channel[1].channelCode" data-ng-true-value="'wx'" data-ng-disabled="disabled" type="checkbox"/>微信 &nbsp;
                                <input data-ng-model="product.channel[2].channelCode" data-ng-true-value="'pc'" data-ng-disabled="disabled" type="checkbox"/>PC
                            </span>
                        </div>
                        <label class="control-label col-sm-2">补贴收益率：</label>
                        <div class="col-sm-2">
                            <div class="btsyl">
                                    <span>
                                        <input data-ng-model="product.channel[0].channelCode" data-ng-true-value="'app'" data-ng-disabled="disabled || !product.channel[0].channelCode" type="checkbox"/><label class="p-5">APP</label>
                                        <input data-ng-model="product.channel[0].subsidyRate" class="my-form-control w-60" data-ng-disabled="disabled || !product.channel[0].channelCode" type="text"> %
                                    </span>
                                <br/>
                                <br/>
                                    <span>
                                        <input data-ng-model="product.channel[1].channelCode" data-ng-true-value="'wx'" data-ng-disabled="disabled || !product.channel[1].channelCode" type="checkbox"/><label class="p-5">微信</label>
                                        <input data-ng-model="product.channel[1].subsidyRate" data-ng-disabled="disabled || !product.channel[1].channelCode" type="text" class="my-form-control w-60"> %
                                    </span>
                                <br/>
                                <br/>
                                    <span>
                                        <input data-ng-model="product.channel[2].channelCode" data-ng-true-value="'pc'" data-ng-disabled="disabled || !product.channel[2].channelCode" type="checkbox"/><label class="p-5">PC&nbsp;&nbsp;</label>
                                        <input data-ng-model="product.channel[2].subsidyRate" data-ng-disabled="disabled|| !product.channel[2].channelCode" type="text" class="my-form-control w-60"> %
                                    </span>
                            </div>
                        </div>
                    </div>
                </form>
                <form class="form-horizontal">
                    <br/><br/>
                    <div class="form-group">
                        <label class="control-label col-sm-2">产品状态：</label>
                        <div class="col-sm-2">
                            <select data-ng-model="product.raiseState" data-ng-disabled="disabled" class="form-control" id="productStatus-form">
                                <option value="0">募集中</option>
                                <option value="1">初始化</option>
                                <option value="2">募集完成</option>
                                <option value="3">已上架</option>
                                <option value="4">已下架</option>
                            </select>
                        </div>

                        <label for="mjwcx" class="control-label col-sm-2">募集完成线：</label>
                        <div class="col-sm-2">
                            <input type="text" data-ng-disabled="disabled" class="my-form-control w-60" id="mjwcx"> %
                            <p style="line-height:20px"><span class="t_c_r"> * </span>已售43%</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <p><span class="t_c_r"> * </span>下架时间 >= 募集完成时间 > 募集开始时间 >= 上架时间</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2">上架时间：</label>
                        <div class="col-sm-3">
                            <input data-ng-model="product.upTime" data-ng-disabled="disabled" type="text" class="form-control" id="sjsj">
                        </div>
                        <label class="control-label col-sm-2">下架时间：</label>
                        <div class="col-sm-3">
                            <input data-ng-model="product.downTime" data-ng-disabled="true" type="text" class="form-control" id="xjsj">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2">募集开始时间：</label>
                        <div class="col-sm-3">
                            <input data-ng-model="product.raiseStartingTime" data-ng-disabled="disabled" type="text" class="form-control" id="mjkssj">
                        </div>
                        <label class="control-label col-sm-2">募集完成时间：</label>
                        <div class="col-sm-3">
                            <input data-ng-model="product.raiseEndingTime" data-ng-disabled="true" type="text" class="form-control" id="mjwcsj">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a data-ng-if="!disabled" class="btn btn-primary" ng-click="ok(productBaseForm.$valid)">保 存</a>
                <a data-ng-if="!disabled" class="btn btn-warning" ng-click="cancel()">返 回</a>
                <a data-ng-if="disabled" class="btn btn-default" href="javascript:" ng-click="cancel()" role="button">关闭</a>
            </div>
        </tab>
        <tab heading="产品描述">
            <div class="modal-body">
                <form class="form-horizontal product-desc">
                    <div class="form-group">
                        <label class="control-label col-sm-2">合同协议路径：</label>
                        <div class="col-sm-8">
                            <select data-ng-model="product.contractPath" data-ng-disabled="disabled" class="form-control">
                                <option value="{{product.contractPath}}">{{product.contractPath}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2">风险补偿金：</label>
                        <div class="col-sm-8">
                            <input data-ng-model="product.riskCompensation" data-ng-disabled="disabled" type="text" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2">出借咨询服务费：</label>
                        <div class="col-sm-8">
                            <input data-ng-disabled="disabled" type="text" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2">资金监管机构：</label>
                        <div class="col-sm-8">
                            <input data-ng-model="product.superviseOrg" data-ng-disabled="disabled" type="text" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2">起息日说明：</label>
                        <div class="col-sm-8">
                            <input data-ng-disabled="disabled" type="text" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2">还款方式：</label>
                        <div class="col-sm-8">
                            <input data-ng-model="product.repaymentType" data-ng-disabled="disabled" type="text" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2">退出方式：</label>
                        <div class="col-sm-8">
                            <input data-ng-model="product.qiutDescribe" data-ng-disabled="disabled" type="text" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2">资金回款：</label>
                        <div class="col-sm-8">
                            <input data-ng-model="product.repatmentDescribe" data-ng-disabled="disabled" type="text" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2">项目描述：</label>
                        <div class="col-sm-10 product-desc-div">
                            <ul class="clearfix">
                                <li>
                                    APP：<img data-ng-src="{{product.channel[0].descriptionUrl || 'img/u250.png'}}" alt=""/>
                                    <span data-ng-if="!disabled && product.channel[0].descriptionUrl" class="delete-btn glyphicon glyphicon-remove"></span><br/>
                                    <span data-ng-if="!disabled && product.channel[0].channelCode" input-file title="APP图片" model="product.channel[0].descriptionUrl"></span>
                                </li>
                                <li>
                                    微信：<img data-ng-src="{{product.channel[1].descriptionUrl || 'img/u250.png'}}" alt=""/>
                                    <span data-ng-if="!disabled && product.channel[1].descriptionUrl" class="delete-btn glyphicon glyphicon-remove"></span><br/>
                                    <span data-ng-if="!disabled && product.channel[1].channelCode" input-file title="微信图片" model="product.channel[1].descriptionUrl"></span>
                                </li>
                                <li>
                                    PC：<img data-ng-src="{{product.channel[2].descriptionUrl || 'img/u250.png'}}" alt=""/>
                                    <span data-ng-if="!disabled && product.channel[2].descriptionUrl" class="delete-btn glyphicon glyphicon-remove"></span><br/>
                                    <span data-ng-if="!disabled" input-file title="PC图片" model="product.channel[2].descriptionUrl"></span>
                                </li>
                            </ul>
                            <textarea data-ng-model="product.description" data-ng-disabled="disabled" class="form-control" rows="3">财富优加计划是夸客金额为移动互联网...................</textarea>
                        </div>
                    </div>
                    <br/>
                    <div class="form-group">
                        <label class="control-label col-sm-2">资金保障：</label>
                        <div class="col-sm-10 product-desc-div">
                            <ul class="clearfix">
                                <li>
                                    APP：<img data-ng-src="{{product.channel[0].guarContextUrl || 'img/u250.png'}}" alt=""/>
                                    <span data-ng-if="!disabled && product.channel[0].guarContextUrl" class="delete-btn glyphicon glyphicon-remove"></span><br/>
                                    <span data-ng-if="!disabled && product.channel[0].channelCode" input-file title="APP图片" model="product.channel[0].guarContextUrl"></span>
                                </li>
                                <li>
                                    微信：<img data-ng-src="{{product.channel[1].guarContextUrl || 'img/u250.png'}}" alt=""/>
                                    <span data-ng-if="!disabled && product.channel[1].guarContextUrl" class="delete-btn glyphicon glyphicon-remove"></span><br/>
                                    <span data-ng-if="!disabled && product.channel[1].channelCode" input-file title="微信图片" model="product.channel[1].guarContextUrl"></span>
                                </li>
                                <li>
                                    PC：<img data-ng-src="{{product.channel[2].guarContextUrl || 'img/u250.png'}}" alt=""/>
                                    <span data-ng-if="!disabled && product.channel[2].guarContextUrl" class="delete-btn glyphicon glyphicon-remove"></span><br/>
                                    <span data-ng-if="!disabled && product.channel[2].channelCode" input-file title="PC图片"  model="product.channel[2].guarContextUrl"></span>
                                </li>
                            </ul>
                            <textarea data-ng-model="product.guarContext" data-ng-disabled="disabled" class="form-control" rows="3">1、夸客平台不接受客户资金，整个资金流转由央行发牌的第三方支付独立完成..................</textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a data-ng-if="!disabled" class="btn btn-primary" ng-click="ok()">保 存</a>
                <a data-ng-if="!disabled" class="btn btn-warning" ng-click="cancel()">返 回</a>
                <a data-ng-if="disabled" class="btn btn-default" href="javascript:" ng-click="cancel()" role="button">关闭</a>
            </div>
        </tab>
    </tabset>
</div>