<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MVVM</title>
</head>
<body>

<div id="mvvm-app">
    {{child.someStr}}{{someStr}}
    <div></div>
    12222
    <br>
    <input type="text" v-model="someStr">
    <input type="text" v-model="child.someStr">
    <p class="abc">
        {{someStr}}
    </p>
    <p>{{array}}</p>
    <p v-html="child.htmlStr"></p>
    <button v-on:click="clickBtn">change model</button>
    <div>{{arr}}</div>
</div>

<div >
    <p>{{someStr}}</p>
    <div>
        <span v-html="htmlStr"></span>

    </div>
</div>

<script src="./src/Observer.js"></script>
<script src="./src/Watcher.js"></script>
<script src="./src/Compile.js"></script>
<script src="./src/Mvvm.js"></script>
<script>
//    import MVVM from './src/Mvvm.JS'
    var vm = new MVVM({
        el: '#mvvm-app',
        data: {
            arr:[1,2],
            someStr: 'hello ',
            htmlStr: '<span style="color: #f00;">red</span>',
            child: {
                someStr: 'World xxxxxx!'
            }
        },
        methods: {
            clickBtn: function(e) {
                var randomStrArr = ['childOne', 'childTwo', 'childThree'];
                this.child.someStr = randomStrArr[parseInt(Math.random() * 3)];
            }
        }
    });

    vm.$watch('child.someStr', function() {
        console.log(arguments);
    });
</script>

</body>
</html>