<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MVVM</title>
</head>
<body>

<div id="mvvm-app">
    {{child.someStr}}
    <br>
    <input type="text" v-model="someStr">

    <input type="text" v-model="child.someStr">
    <p>
        {{someStr}}
    </p>

    <p v-html="child.htmlStr"></p>

    <p v-html="htmlStr"></p>

    <p v-text="htmlStr"></p>

    <button v-on:click="clickBtn">change model</button>
    <div>{{arr}}</div>
    {{child.xxx}}
</div>


<script src="./src/Observer.js"></script>
<script src="./src/Watcher.js"></script>
<script src="./src/Compile.js"></script>
<script src="./src/Mvvm.js"></script>
<script>
//    import MVVM from './src/Mvvm.JS'
    var vm = new MVVM({
        el: '#mvvm-app',
        data: {
            arr:[1,2],
            someStr: 'hello ',
            htmlStr: '<span style="color: #f00;">red</span>',
            child: {
                someStr: 'World xxxxxx!',
                xxx:'4444'
            }
        },
        methods: {
            clickBtn: function(e) {
                this.child.someStr = "通过事件改变";
            }
        }
    });

    vm.$watch('child.someStr', function(newValue,oldValue) {
        console.log(arguments);
        console.log(this);
    });
</script>

</body>
</html>