<div class="container-fluid" data-ng-controller="transActionCtr">
    <h4 class="sub-title">{{modileTitle}}</h4>
    <form class="form-horizontal select-form">
        <div class="form-group">
            <label class="control-label col-sm-1" for="phoneNumber">手机号：</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" data-ng-model="searchTrans.mobile" id="phoneNumber" placeholder="请输入手机号码">
            </div>

            <label class="control-label col-sm-1" for="userName">用户名：</label>
            <div class="col-sm-2">
                <input type="text" data-ng-model="searchTrans.loginName" class="form-control" id="userName" placeholder="请输入用户名">
            </div>

            <label class="control-label col-sm-1">交易日期：</label>
            <div class="col-sm-2">
                <div class="input-group">
                    <input type="text" data-ng-model="searchTrans.dealStartTime" class="form-control" data-datepicker-popup="{{format}}" data-is-open="bopened" data-close-text="关闭" data-current-text="今天" data-clear-text="清除"/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="bopen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            </div>
            <div class="col-sm-1" style="width: 14px;padding: 0"><span class="msg-span">--</span></div>
            <div class="col-sm-2">
                <div class="input-group">
                    <input type="text" data-ng-model="searchTrans.dealEndTime" class="form-control" data-datepicker-popup="{{format}}" data-is-open="eopened" data-close-text="关闭" data-current-text="今天" data-clear-text="清除"/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="eopen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-1" for="idCardNumber">证件号：</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" data-ng-model="searchTrans.idNo" id="idCardNumber" placeholder="请输入证件号码">
            </div>

            <label class="control-label col-sm-1" for="orderNumber">订单号：</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" data-ng-model="searchTrans.orderNo" id="orderNumber" placeholder="请输入订单号码">
            </div>

            <label class="control-label col-sm-1" for="businessType">业务类型：</label>
            <div class="col-sm-2">
                <select class="form-control" data-ng-model="searchTrans.busiType" id="businessType">
                    <option value="">全部</option>
                    <option value="1">付款</option>
                    <option value="2">回款</option>
                </select>
            </div>

            <label class="control-label col-sm-1" for="payStatus">支付状态：</label>
            <div class="col-sm-2">
                <select class="form-control" data-ng-model="searchTrans.payStatus" id="payStatus">
                    <option value="">全部</option>
                    <option value="1">成功</option>
                    <option value="2">处理中</option>
                    <option value="3">失败</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-1" for="cardNumber">卡号：</label>
            <div class="col-sm-2">
                <input type="text" data-ng-model="searchTrans.bankCardNo" class="form-control" id="cardNumber" placeholder="请输入卡号">
            </div>

            <label class="control-label col-sm-1" for="cast">交易金额：</label>
            <div class="col-sm-5">
                <input type="text" style="width: 146px" class="my-form-control" data-ng-model="searchTrans.MIN_CAST" id="cast">
                <span class="msg-span" style="padding: 0 10px">--</span>
                <input type="text" style="width: 146px" data-ng-model="searchTrans.MAX_CAST" class="my-form-control">
            </div>
        </div>
    </form>
    <div class="btn-box col-sm-11 clearfix">
        <a class="btn btn-default pull-right" data-ng-click="search()" href="javascript:" role="button">查 询</a>
    </div>
    <div class="jyxxList" style="width:100%;overflow-x: auto">
        <table style="width: 1700px" class="table table-striped table-bordered">
            <thead class="t_head">
            <tr>
                <th width="6%">订单号</th>
                <th width="8%">产品名称</th>
                <th width="4%">收益率</th>
                <th width="5%">补贴收益率</th>
                <th width="4%">业务类型</th>
                <th width="5%">支付状态</th>
                <th width="5%">支付类型</th>
                <th width="7%">交易金额（元）</th>
                <th width="6%">交易时间</th>
                <th width="6%">预期收益时间</th>
                <th width="5%">实际收益总金额（元）</th>
                <th width="6%">银行名称</th>
                <th width="6%">卡号</th>
                <th width="4%">用户名</th>
                <th width="6%">手机号</th>
                <th width="8%">证件号</th>
                <th width="4%">交易渠道</th>
            </tr>
            </thead>
            <tbody class="t_body">
                <tr data-ng-repeat="tra in traList">
                    <td>{{tra.ORDER_NO}}</td>
                    <td>{{tra.PRODUCT_NAME}}</td>
                    <td>{{tra.PRE_PROFIT_RATE}}%</td>
                    <td>{{tra.SUB_PRE_PROFIT_RATE}}%</td>
                    <td>{{tra.BUSI_TYPE_NAME}}</td>
                    <td>{{tra.PAY_STATUS_NAME}}</td>
                    <td>{{tra.CARD_TYPE_NAME}}</td>
                    <td>{{tra.TX_AMT}}</td>
                    <td>{{tra.TX_TIME | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                    <td>{{tra.EXPECTED_VALUE_DATE | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                    <td>{{tra.EXPECTED_AMT}}</td>
                    <td>{{tra.BANK_NAME}}</td>
                    <td>{{tra.BANK_CARD_NO | hideWord:4:4:4}}</td>
                    <td>{{tra.IDENTIFICATION_OWNER_NAME}}</td>
                    <td>{{tra.MOBILE | hideWord:3:4}}</td>
                    <td>{{tra.IDENTIFICATION_NO | hideWord:4:4:4}}</td>
                    <td>{{tra.SYS_ID}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!--分页-->
    <div class="clearfix">
        <div data-pagination data-total-items="page.totalItems" data-ng-model="page.curPage" data-max-size="page.maxSize" data-items-per-page="page.itemsPerPage" data-boundary-links="page.boundaryLinks" data-ng-change="changePage()"
             data-previous-text="{{page.previousText}}" data-next-text="{{page.nextText}}" data-first-text="{{page.firstText}}" data-last-text="{{page.lastText}}"></div>
    </div>
</div>


