<div class="container-fluid" data-ng-controller="selectCtr">
    <h4 class="sub-title">{{modileTitle2}}</h4>
    <form class="form-horizontal select-form">
        <div class="form-group">
            <label class="control-label col-sm-1" for="phoneNumber">手机号：</label>
            <div class="col-sm-2">
                <input type="text" data-ng-model="searchSuggestion.mobile" class="form-control" id="phoneNumber" placeholder="请输入手机号码">
            </div>

            <label class="control-label col-sm-1" for="userName">姓名：</label>
            <div class="col-sm-2">
                <input type="text" data-ng-model="searchSuggestion.customerName" class="form-control" id="userName" placeholder="请输入姓名">
            </div>

            <label class="control-label col-sm-1" for="cardNumber">证件号：</label>
            <div class="col-sm-2">
                <input type="text" data-ng-model="searchSuggestion.deviceNo" class="form-control" id="cardNumber" placeholder="请输入卡号">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-1">日期：</label>

            <div class="col-sm-2">
                <div class="input-group" id="collectDate">
                    <input type="text" data-ng-model="searchSuggestion.bdate" class="form-control" data-datepicker-popup="{{format}}" data-is-open="sbopened" data-close-text="关闭" data-current-text="今天" data-clear-text="清除"/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="sbopen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
                </div>
            </div>

            <div class="col-sm-1" style="width: 14px;padding: 0"><span class="msg-span">--</span></div>
            <div class="col-sm-2">
                <div class="input-group">
                    <input type="text" data-ng-model="searchSuggestion.edate" class="form-control" data-datepicker-popup="{{format}}" data-is-open="seopened" data-close-text="关闭" data-current-text="今天" data-clear-text="清除"/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" data-ng-click="seopen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
                </div>
            </div>
        </div>
    </form>
    <div class="btn-box col-sm-11 clearfix">
        <a class="btn btn-default pull-right" data-ng-click="searchSuggestions()" href="javascript:" role="button">查 询</a>
    </div>

    <table class="table product-table table-striped table-bordered">
        <thead class="t_head">
        <tr>
            <th>留言时间</th>
            <th>手机号</th>
            <th>用户名</th>
            <th>证件号</th>
            <th style="width: 40%">留言内容</th>
        </tr>
        </thead>
        <tbody class="t_body">
        <tr data-ng-repeat="su in suggestionList">
            <td>{{su.createTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
            <td>{{su.mobile}}</td>
            <td>{{su.customerName}}</td>
            <td>{{su.idNo}}</td>
            <td>{{su.comments}}</td>
        </tr>
        </tbody>
    </table>
    <!--分页-->
    <div class="clearfix">
        <div data-pagination data-total-items="suggestionPage.totalItems" data-ng-model="suggestionPage.curPage" data-max-size="suggestionPage.maxSize" data-items-per-page="suggestionPage.itemsPerPage" data-boundary-links="suggestionPage.boundaryLinks" data-ng-change="changePage()"
             data-previous-text="{{suggestionPage.previousText}}" data-next-text="{{suggestionPage.nextText}}" data-first-text="{{suggestionPage.firstText}}" data-last-text="{{suggestionPage.lastText}}"></div>
    </div>
</div>
