section{
    background-color: #ffffff;
    padding: .2rem;
    margin-bottom: .24rem;
    font-size: .3rem;
}
p{
    font-size: .3rem;
    color: #000;
}
.product-title{
    font-size: .38rem;
}
.sub-title{
    padding: .2rem 0;
    color: #979797;
    font-size: .28rem;
}
.market-price{
    text-decoration: line-through;
    font-size: .38rem;
    color: #7d3692;
}
.buyer-number{
    float: right;
    padding: 0;
}
.group-box{
    color: #fff;
    line-height: .7rem;
    text-align: center;
    margin-top: .4rem;
    padding: .4rem 0;
    border-top: 2px solid #dfdfdf;
}
.group-item{
    padding: 0 .1rem;
}
.group{
    border-radius: .1rem;
}
.group.one-peple{
    background-color: #8e51a1;
    background: -webkit-linear-gradient(#8e51a1 0,#8e51a1 50%,#854399 50%,#854399 100%); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#8e51a1 50%, #854399 100%); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#8e51a1 50%, #854399 100%); /* Firefox 3.6 - 15 */
    background: linear-gradient(#8e51a1 0,#8e51a1 50%,#854399 50%,#854399 100%); /* 标准的语法 */
}
.group.three-peple{
    background-color: #4085c5;
    background: -webkit-linear-gradient(#4085c5 0,#4085c5 50%,#307bc1 50%,#307bc1 100%); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#4085c5 0,#4085c5 50%,#307bc1 50%,#307bc1 100%); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#4085c5 0,#4085c5 50%,#307bc1 50%,#307bc1 100%); /* Firefox 3.6 - 15 */
    background: linear-gradient(#4085c5 0,#4085c5 50%,#307bc1 50%,#307bc1 100%); /* 标准的语法 */
}
.group.five-peple{
    background-color: #25aca5;
    background: -webkit-linear-gradient(#25aca5 0,#25aca5 50%,#13a59e 50%,#13a59e 100%); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#25aca5 0,#25aca5 50%,#13a59e 50%,#13a59e 100%); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#25aca5 0,#25aca5 50%,#13a59e 50%,#13a59e 100%); /* Firefox 3.6 - 15 */
    background: linear-gradient(#25aca5 0,#25aca5 50%,#13a59e 50%,#13a59e 100%); /* 标准的语法 */
}
.price{
    font-size: .38rem;
}
.normal-text{
    padding: .18rem 0;
}
.group-status-box{
    padding-top: .12rem;
    color: #b8b8b8;
}
.group-status{
    display: inline-block;
    width: 2.3rem;
}
.group-member-tag{
    border: 1px solid #b8b8b8;
    border-radius: .04rem;
    padding: .05rem;
}
.mui-table-view .mui-media-object{
    line-height: 1.2rem;
    max-width: 1.2rem;
    height: 1.2rem;
}
.mui-media-body{
    height: 1.2rem;
    padding-top: .2rem;
}
.group-list .mui-table-view-cell.mui-media{
    background-color: #f7f7f7;
    margin-bottom: .14rem;
}
.group-list .mui-table-view-cell:after,.group-list .mui-table-view:before,.group-list .mui-table-view:after{
    height: 0;
}

.group-full-flag{
    position: absolute;
    width: 1.11rem;
    height: 1.11rem;
    border-radius: 50%;
    top: .26rem;
    right: .3rem;

}
.get-more-link{
    border: 0;
    display: inline-block;
    margin-top: .2rem;
    color: #854399;
}
.my-group-history{
    display: block;
    color: #000;
    padding: .1rem 0;
}
.my-group-history .mui-icon{
    font-size: .4rem;
}
.activity-desc{
    padding-top: .16rem;
    border-top: .01rem solid #e9e9e9;
}
.play-way .mui-icon-help{
    font-size: .4rem;
    color: #854399;
}
.play-way .mui-icon{
    line-height: .8rem;
    font-size: .4rem;
}
.play-way img{
    width: .8rem;
    height: .8rem;
    border-radius: 50%;
    display: inline-block;
}
.play-step{
    text-align: center;
    font-size: .28rem;
    padding-top: .16rem;
}
.play-way .mui-icon-forward{
    position: absolute;
    top: 0;
    right: -.2rem;
}
.address-card{
    background-color: #f7f7f7;
    padding: .18rem;
    font-size: .3rem;
    position: relative;
}
.address-card .address{
    font-size: .28rem;
    margin-bottom: 0;
}
.address-card .mui-icon-phone{
    color: #854399;
    font-size: .4rem;
    position: absolute;
    right: .3rem;
    top: .42rem;
}
.acyivity-msg{
    padding-bottom: .4rem;
}
.acyivity-msg div{
    padding: .1rem 0;
}
.acyivity-msg p{
    margin-bottom: 5px;
}
.acyivity-msg ul{
    margin: 0;
    padding: 0 .4rem;
}
.acyivity-msg li{
    margin-bottom: .1rem;
}

.official-accounts .official-accounts-wapper{
    padding: .3rem 0;
    color: #854399;
    background: url("../images/detail/banner1.png") no-repeat center;
    background-size: 100%;
}
.official-accounts .img-2-code{
    margin-top: .4rem;
    width: 2.5rem;
    height: 2.5rem;
    display: inline-block;
    border: .1rem solid rgba(255,255,255,.5);
}
.apply-join-link{
    color: #000;
    display: inline-block;
    border: 2px solid #9e9e9e;
    padding: .2rem .6rem;
}
.apply-join-link .mui-icon-compose{
    font-size: .4rem;
}