.mui-card{
    font-size: .3rem;
}
.mui-control-content{
    height: 100%;
    height: calc(100vh - 1.2rem);
}
.mui-table-view .mui-media-object{
    line-height: 1rem;
    width: 1rem;
    height: 1rem;
    max-width: 1rem;
    border-radius: 50%;
    margin-top: .1rem;
}
.group-status-box{
    padding: .1rem 0;
    color: #bbbbbb;
    font-size: .26rem;
}
.group-member-tag{
    padding-left: .3rem;
}

.group-full-flag{
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    position: absolute;
    right: .36rem;
    top: 50%;
    transform: translate(0,-50%);
}
.price-box{
    color: #7f3994;
}
.old-price{
    color: #a1a1a1;
    padding-left: .1rem;
    text-decoration: line-through;
}