<div data-ng-controller="cardVolumeCtr">
    <div class="clearfix" style="width: 1100px;margin: 10px 0;padding-right: 40px">
        <a class="btn btn-default pull-right" data-ui-sref="yhgl.yhkqcx">返 回</a>
    </div>
    <div style="overflow-x: scroll">
        <div style="width: 1100px;">
            <table class="table product-table table-striped table-bordered">
                <thead class="t_head">
                <tr>
                    <th>证件号</th>
                    <th>活动标识码</th>
                    <th>活动名称</th>
                    <th>卡券码</th>
                    <th>卡券类型</th>
                    <th>面值</th>
                    <th>领取时间</th>
                    <th>卡券状态</th>
                    <th>卡券有效期</th>
                    <!--<th>是否删除</th>-->
                    <th>删除时间</th>
                    <th>订单号</th>
                </tr>
                </thead>
                <tbody class="t_body">
                <tr data-ng-repeat="cd in cardVolumeDetails">
                    <td>{{cd.IDNO | hideWord:4:4:4}}</td>
                    <td>{{cd.ACTIVITYNO}}</td>
                    <td>{{cd.ACTIVITYNAME}}</td>
                    <td>{{cd.COUPONSID}}</td>
                    <td>{{cd.COUPONSTYPE}}</td>
                    <td>{{cd.VAL}}</td>
                    <td>{{cd.RECEIVETIME | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                    <td>{{cd.ACTIVESTATUS}}</td>
                    <td>{{cd.BEGINTIME | date:'yyyy-MM-dd'}}/{{cd.ENDTIME| date:'yyyy-MM-dd'}}</td>
                    <!--<td>{{cd.ISDEL==0?'否':'是'}}</td>-->
                    <td>{{cd.DELTIME | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                    <td>{{cd.ID}}</td>
                </tr>

                </tbody>
            </table>
            <!--分页-->
            <div class="clearfix">
                <div data-pagination data-total-items="depage.totalItems" data-ng-model="depage.curPage" data-max-size="depage.maxSize" data-items-per-page="depage.itemsPerPage" data-boundary-links="depage.boundaryLinks" data-ng-change="changeDePage()"
                     data-previous-text="{{depage.previousText}}" data-next-text="{{depage.nextText}}" data-first-text="{{depage.firstText}}" data-last-text="{{depage.lastText}}"></div>
            </div>
        </div>
    </div>

</div>