.main-warpper{
  min-height: 100%;
  display: flex;
  flex-direction: column;

  .ant-layout{
    flex: 1;
  }
  .ant-layout-sider{
    color: #fff;
    padding: 75px 0;
  }
  .user-header-box{
    text-align: center;
  }
  .user-header{
    width: 240px;
    height: 240px;
    border: 10px solid #fff;
    border-radius: 50%;
    overflow: hidden;
  }
  .user-name{
    text-align: center;
    font-size: 48px;
    padding: 14px 0;
  }
  .job-name{
    font-size: 22px;
  }
  .base-msg{
    position: relative;
    margin-top: 50px;
    padding-top: 76px;
  }
  .base-msg-title{
    position: absolute;
    padding: 0 20px;
    font-size: 28px;
    font-weight: 700;
    width: 365px;
    height: 60px;
    line-height: 60px;
    background-color: #00a0e9;
    top: 0;
    right: -20px;

    &:before{
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border-top: 30px solid transparent;
      border-right: 20px solid #00a0e9;
      border-bottom: 30px solid transparent;
      top: 0;
      left: -20px;
    }
    &:after{
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border-top: 18px solid #0075a9;
      border-right: 20px solid transparent;
      border-bottom: 30px solid transparent;
      right: 0;
      bottom: -48px;
    }
  }
  .base-msg-detail{
    padding: 0 40px;
    font-size: 16px;
    line-height: 34px;
    display: flex;
    flex-direction: row;

    .msg-label{
      font-weight: 500;
      width: 96px;
      display: inline-block;
    }
    .msg-value{
      flex: 1;
    }
  }
  .ant-layout-content{
    padding: 0 50px;
    background: url("/build/images/body-bg.png") no-repeat center;
    background-size: 100%;
  }
}