@media print {
  body{
    width: 1190px;
  }
}
.main-warpper{
  min-height: 100%;
  display: flex;
  flex-direction: column;

  .ant-layout{
    flex: 1;
  }
  .ant-layout-sider{
    color: #fff;
    padding: 75px 0;
  }
  .ant-layout-content{
    min-width: 800px;
    padding: 50px 26px;
    background: url("../images/body-bg.png") no-repeat center;
    background-size: 100%;
    .ant-card{
      margin-bottom: 20px;
    }
    .ant-card,.ant-card-head{
      background-color: transparent;
      border: none;
    }
    .individual-resume-icon{
      vertical-align: middle;
      margin-right: 10px;
      display: inline-block;
      width: 40px;
      height: 40px;
      background: url("../images/icons/individual-resume-icon.png") no-repeat center;
      background-size: 100%;
    }
    .work-exp-icon{
      vertical-align: middle;
      margin-right: 10px;
      display: inline-block;
      width: 40px;
      height: 40px;
      background: url("../images/icons/work-exp-icon.png") no-repeat center;
      background-size: 100%;
    }
    .experience-box{
      display: flex;
      flex-direction: row;
      padding: 15px 0;
      .experience-date-box{
        width: 200px;
        font-weight: 700;
      }
      .exp-date,.exp-org-name{
        font-size: 18px;
        color: #3e3a39;
        line-height: 40px;
        font-weight: 700;
      }
      .exp-job-title{
        font-size: 16px;
        color: #00a0e9;
      }
      .experience-desc-box{
        flex: 1;
      }
    }
    .ant-card-head-title{
      font-weight: 700;
      font-size: 28px;
      border-bottom:1px solid #3f3b3a;
      line-height: 58px;
    }
    .ant-card-body{
      font-size: 16px;
      color: #3e3a39;
      p{
        text-indent: 2em;
      }
    }
  }
}